<%= form_with model: @wallet do |f| %>
  <div class="field">
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>

  <div class="field">
    <%= f.label :amount_cents %>
    <%= f.text_field :amount_cents %>
  </div>

  <%= f.submit class: 'button' %>
<% end %>